@import url(/css/styles.css);

/* Button Styles */

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 3rem;
    border: 0;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.btn-outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn-outline:hover {
    background: var(--color-headings);
    color: #fff;
}

.btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary:hover {
    background: #3a8ffd;
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: #fff;
}

.btn-secondary:hover {
    background: #00c8eb;
}

.btn-accent {
    background-color: var(--color-accent);
    color: #fff;
}

.btn-accent:hover {
    background: #ec3000;
}

.btn-stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn-block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}