/*Import Component CSS -- Start*/
@import url(/css/list.css);
@import url(/css/icons.css);
@import url(/css/buttons.css);
@import url(/css/input.css);
@import url(/css/cards.css);
@import url(/css/plan.css);
@import url(/css/media.css);
@import url(/css/qoute.css);
@import url(/css/grid.css);
@import url(/css/testimonial.css);
@import url(/css/callouts.css);
@import url(/css/collapsible.css);
@import url(/css/blocks.css);
@import url(/css/navigation.css);
@import url(/css/hero.css);
@import url(/css/domain-block.css);
@import url(/css/badge.css);
@import url(/css/plans-block.css);
@import url(/css/link.css);
@import url(/css/features.css);
@import url(/css/showcase-blocks.css);
/*Import Component CSS -- End*/

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px;
}

::selection {
    background: var(--color-primary);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1, 
h2, 
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
}

p {
    margin-top: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}