<section class="block container">
    <header class="block__header">
        <h2>Host On The Cloud To Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, corporis!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon-primary">
                    <use xlink:href="/resources/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy To Use</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta aliquam aliquid quo pariatur
                quidem alias possimus illum nulla illo optio?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="/resources/images/easy.jpg 1x, /resources/image/easy.jpg 2x" />
            <img class="feature__image" src="/resources/images/easy.jpg" alt="" />
        </picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon-primary">
                    <use xlink:href="/resources/sprite.svg#settings"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress Made Easy</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta aliquam aliquid quo pariatur
                quidem alias possimus illum nulla illo optio?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="/resources/images/wordpress.jpg 1x, /resources/images/wordpress.jpg 2x" />
            <img class="feature__image" src="/resources/images/wordpress.jpg" alt="" />
        </picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon-primary">
                    <use xlink:href="/resources/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta aliquam aliquid quo pariatur
                quidem alias possimus illum nulla illo optio?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
            <source type="image/jpg" srcset="/resources/images/fast.jpg 1x, /resources/images/fast.jpg 2x" />
            <img class="feature__image" src="/resources/images/fast.jpg" alt="" />
        </picture>
    </article>
</section>